<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Entry</title>
<body>
    <div class="container">
        <h1>Update Entry</h1>
        <form action="{{ url_for('update_bp.update', id=entry['_id']) }}" method="POST">
            {% for key, value in entry.items() %}
                {% if key != '_id' %}
                    <label for="{{ key }}">{{ key | capitalize }}:</label>
                    <input type="text" name="{{ key }}" id="{{ key }}" value="{{ value }}">
                {% endif %}
            {% endfor %}
            <input type="submit" value="Update">
        </form>
        <a href="{{ url_for('app_bp.read_posts') }}" class="button">Go back to Home</a>
    </div>
</body>
</html>